# Ambientes virtuais
venv/
env/
.env/

# Arquivos
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Banco de dados SQLite
*.db

# Arquivos de configuração sensíveis
instance/
.env
node_modules/

# Sistema operacional
.DS_Store
Thumbs.db